.pageWrapper {
  display: flex;
  height: 100%;
  padding: 1vw;
  box-sizing: border-box;
  gap: 3vw;
  justify-content: flex-start;
}

.leftPane {
  /* flex: 0.6; */
  width: 40vw;
  overflow-y: auto;
}

.rightPane {
  /* flex: 0.4; */
  overflow-y: auto;
  max-width: 30vw;
}
