.pageWrapper {
  display: flex;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
}

.leftPane {
  flex: 0.6;
  overflow-y: auto;
}

.rightPane {
  flex: 0.4;
  /* overflow-y: auto; */
}
