.pageWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1; 
  padding: 1rem;
  overflow-y: auto;
}

.leftPane {
  /* width: 45rem; */
  min-width: 15rem;
  width: 40vw;
  display: flex;
  height: 100%;
}

.rightPane {
  /* width: 40rem; */
  min-width: 15rem;
  width: 35vw;
}
