.transactionForm {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 0.8rem;
  height: 100%;
  width: 100%;
}

.categoriesPalette {
  height: 15rem;
  width: 100%;
  box-sizing: border-box;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.fieldGroup {
  background-color: #f9f9f9;
  padding: 0.7rem;
  border-radius: 0.7rem;
  border: 0.1rem solid #ccc;
  display: flex;
}

.fieldGroup input[type='text'],
.fieldGroup input[type='number'] {
  width: 100%;
  padding: 0.7rem;
  font-size: 1.2rem;
  border: 0.1rem solid #bbb;
  border-radius: 0.5rem;
  background-color: #fff;
}

.bottomButtonsContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  height: 2.3rem;
}

.editingBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff8dc;
  border: 0.1rem solid #f0ad4e;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #8a6d3b;
}

.cancelButton {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #8a6d3b;
  cursor: pointer;
}

.toggleSwitchWrapper {
  display: flex;
  justify-content: center;
}

.toggleSwitch {
  position: relative;
  display: flex;
  width: 10rem;
  height: 2rem;
  background: #eee;
  border-radius: 2rem;
  overflow: hidden;
  border: 0.1rem solid #ccc;
}

.toggleOption {
  flex: 1;
  background: none;
  border: none;
  z-index: 1;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.toggleOption.active {
  font-weight: bold;
  color: white;
}

.toggleIndicator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #56a5da;
  transition: left 0.3s ease;
  border-radius: 2rem;
  z-index: 0;
}

.datePicker {
  z-index: 10;
}

