.main_сontainer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.form_container {
    display: grid;
    grid-gap: 2vh;
    align-items: center;
    justify-items: center;
    margin-bottom: 10%;
    width: 22vw;
    max-width: 50vh;
    font-size: 2.3vh;
}

.bottomHint {
    font-size: 2vh;
}

.bottomHint:hover {
    cursor: pointer;
}

.bottomHint:active {
    transform: scale(0.97); /* Уменьшение кнопки при нажатии */
}

.inputButton {
    margin-top: 2vh;
    width: 50%;
    height: 4vh
}



