.main_сontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form_container {
    display: grid;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    margin-bottom: 2rem;
    width: 30rem;
    font-size: 1.5rem;
}

.bottomHint {
    font-size: 1.2rem;
}

.bottomHint:hover {
    cursor: pointer;
}

.bottomHint:active {
    transform: scale(0.97); /* Уменьшение кнопки при нажатии */
}

.inputButton {
    margin-top: 1rem;
    width: 50%;
    height: 2.2rem
}



