.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
  padding: 10px;
  margin-top: 1vh;
  margin-left: 1vw;
  width: 4vw;
  background-color: #f8f9fa; /* очень светлый серый */
  border: 1px solid #d1d3d4; /* светло-серая рамка */
  border-radius: 8px;
}

.arrow {
  padding: 0.5vw 1vh;
  font-size: 2vh;
  cursor: pointer;
  background-color: #ffffff; /* белый фон */
  color: #000000; /* средний серый текст */
  border: 1px solid #ced4da; /* светло-серая рамка */
  border-radius: 4px;
  transition: background-color 0.2s;
}

.arrow:hover {
  background-color: #e9ecef; /* светло-серый при наведении */
}

.centerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.dateText {
  font-size: 2vh;
  font-weight: bold;
  color: #000000; /* тёмно-серый */
}

.modeButton {
  padding: 0.3vw 0.5vh;
  font-size: 1.7vh;
  cursor: pointer;
  background-color: #e9ecef; /* светло-серый фон */
  color: #495057; /* тёмно-серый текст */
  border: 1px solid #ced4da; /* светло-серая рамка */
  border-radius: 4px;
  transition: background-color 0.2s;
}

.modeButton:hover {
  background-color: #dee2e6; /* чуть темнее при наведении */
}
