.container {
  /* height: 100rem; */
  overflow-y: auto;
  border: 0.1rem solid #ddd;
  font-size: 1rem;
  flex-grow: 1;
}

.dateGroup {
  margin-bottom: 0.4rem;
}

.dateHeader {
  border-bottom: 0.1rem solid #ccc;
  padding-bottom: 0.2rem;
}

.operationRow {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 0.1rem solid #eee;
  cursor: pointer;
  margin: 0 0.3rem;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.operationRow:hover {
  background-color: #f0f8ff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.categoryIcon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 0.5rem;
}

.categoryName {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0.2rem;
}

.message {
  font-size: 1.3rem;
  color: #666;
}

.amount {
  font-weight: bold;
  min-width: 2rem;
  font-size: 1.5rem;
  text-align: right;
  margin-right: 1.2rem;
}

.amount.negative {
  color: red;
}

.amount.positive {
  color: green;
}
