.header {
  height: 5rem;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.7rem;
}

.logo {
    height: 4rem;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.username {
    font-weight: bold;
}

.exit_button:hover {
    cursor: pointer;
}

.exit_button:active {
    transform: scale(0.95);
}