.overviewContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.leftPane {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 35rem;
}

.leftUpPane {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leftDownPane {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftDownPaneHeader {
  font-size: 2rem;
}

.leftDownPaneText {
  font-size: 2rem;
  margin: 0
}

.downButton {
  width: 12rem;
  height: 2.4rem;
  padding: 1rem;
}

.palette {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 35rem;
  max-height: 42rem;
}

.categoriesPalette {
  max-height: 15rem;
  width: 100%;
  box-sizing: border-box;
}

.paletteTitle {
  font-size: 2rem;
  font-weight: bold;
}

.paletteDownContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}