.overviewContainer {
  display: flex;
  justify-content: flex-start;
  gap: 0.7vw;
  padding: 0 2vw 0 2vw;
}

.palette {
  margin-left: 4vw;
  display: flex;
  flex-direction: column;
  max-width: 32vw;
}

.paletteTitle {
  font-size: 3vh;
  font-weight: bold;
}
